/*Settings generelt for siden start*/

* {
    margin: 0;
    padding: 0
}

a,
h1 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

/*Settings generelt for siden slutt*/


/*Navigator start*/

header {
    position: relative;
    overflow: hidden;
    background-color: #3A4047;
}

#logo {
    float: left;
    padding-left: 5%;
    line-height: 20%;
}

ul {
    list-style-type: none;
    padding-right: 5%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #b7ffff;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    line-height: 500%;
}

li a:hover {
    background-color: #111;
}


/*Navigator slutt*/

#navcontainer {
    min-height: 100%;
    position: relative;
    height: 100%;
    width: 100%;
}


/*html, body start*/

html,
body {
    background-image: url(bilder/bg.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

#menu {
    position: relative;
    margin: auto;
    top: 5%;
    width: 35%;
    height: 45%;
}

#menu:hover .circle {
    -webkit-animation-play-state: paused;
}

/*Sirkler i menyen på hjemsiden start*/

.circle {
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    font-size: 1.3em;
    color: #fff;
    line-height: 1000%;
    text-align: center;
    background: #3A4047;
    opacity: 0.97;
}

.circle1 {
    margin-left: 35%;
    -webkit-animation-name: circle1move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

.circle2 {
    margin-top: 2em;
    margin-left: 35%;
    -webkit-animation-name: circle2move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

.circle3 {
    margin-top: -16em;
    -webkit-animation-name: circle3move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

.circle4 {
    margin-top: -10em;
    margin-left: 69%;
    -webkit-animation-name: circle4move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

/*Sirkler i menyen på hjemsiden stopp*/

/*Velkommen tekst og slogan på hjemsiden start*/
#hjemtekst {
    text-align: center;
    font-size: 6em;
    color: #074B97;
    margin-top: 5%;
}

#hjemslogan {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1em;
    float: right;
    margin-top: 0.5%;
    padding-right: 32%;
}

/*Velkommen tekst og slogan på hjemsiden slutt*/

/*Container med hovedinnhold på alle sider start*/

#container {
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 2%;
    background-color: #3A4047;
    position: absolute;
}

/*Container med hovedinnhold på alle siden slutt*/

#sideinnhold {
    text-align: center;
    padding: 6%;
    position: relative;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


/*html, body slutt*/


/*Footer start*/

footer {
    background-color: #3A4047;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    line-height: 250%;
}


/*Footer slutt*/


/*Animasjoner start*/

@keyframes circle1move {
    25% {
        -webkit-transform: translate(230px, 120px);
    }
    50% {
        -webkit-transform: translate(0px, 250px);
    }
    75% {
        -webkit-transform: translate(-230px, 120px);
    }
    100% {
        -webkit-transform: translate(0em, 0em);
    }
}

@keyframes circle2move {
    25% {
        -webkit-transform: translate(-230px, -120px);
    }
    50% {
        -webkit-transform: translate(0px, -250px);
    }
    75% {
        -webkit-transform: translate(230px, -120px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes circle3move {
    25% {
        -webkit-transform: translate(230px, -120px);
    }
    50% {
        -webkit-transform: translate(480px, 0px);
    }
    75% {
        -webkit-transform: translate(230px, 120px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes circle4move {
    25% {
        -webkit-transform: translate(-230px, 120px);
    }
    50% {
        -webkit-transform: translate(-480px, 0px);
    }
    75% {
        -webkit-transform: translate(-230px, -120px);
    }
    100% {
        -webkit-transform: translate(0em, 0em);
    }
}

@keyframes glowmove {
    100% {
        transform: rotate(360deg);
    }
}


/*Animasjoner slutt*/

/*company-css-tommy*/
#company {
    position: relative;
    height: 600px;
    width: 80%;
    opacity: 0,5;
    margin: auto;
    overflow: hidden;
}
.companyAni{
    position: absolute;
    top: 50%;
    left: -300px;
}
#employee{
    animation: moveAni 30s linear infinite;
}
#employee1{
    animation: moveAni 30s linear infinite;
    animation-delay: 5s;
}
#employee2{
    animation: moveAni 30s linear infinite;
    animation-delay: 10s;
}
#employee3{
    animation: moveAni 30s linear infinite;
    animation-delay: 15s;
}
#employee4{
    animation: moveAni 30s linear infinite;
    animation-delay: 20s;
}
#employee5{
    animation: moveAni 30s linear infinite;
    animation-delay: 25s;
}
#pics {
    height:  200px;
    width: 200px;
    border-radius: 50%;
}
@keyframes moveAni {
    from{
        left: -300px;
    }
    to{
        left: 2100px;
    }
}
#container:hover .companyAni{
    animation-play-state: paused;
}
.chat{
    position: relative;
    top: 100px;
    height: 150px;
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 30%;
    display: none;
}

#employee:hover ~ #textBox{
    display: block;

}
#employee1:hover ~ #textBox1{
    display: block;
}
#employee2:hover ~ #textBox2{
    display: block;
}
#employee3:hover ~ #textBox3{
    display: block;
}
#employee4:hover ~ #textBox4{
    display: block;
}
#employee5:hover ~ #textBox5{
    display: block;
}


/*Markus*/
#kartContainer {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

#fakta1 {
    width: 45%;
    height: 115px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
}

#fakta1 p {
    position: relative;
}

#fakta2 {
    width: 45%;
    height: 115px;
    right: 0px;
    background-color: blue;
    border-radius: 20px;
    position: absolute;
}

#fakta2 p {

    position: relative;
}

#kart_boks {
    top: 150px;
    width: 900px;
    height: 100%;
    position: relative;
}

#kart {
    position: absolute;
    width: 900px;
    height: 400px;
    top: 150px;
}

.map_dot {
    background-color: #a60808;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
}

.map_dot:hover {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.map_dot2 {
    background-color: yellow;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
}

.map_dot2:hover {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

#oslo1 {
    opacity: 0;
    position: absolute;
}

#oslo2 {
    opacity: 0;
    position: absolute;
}

.oslo {
    left: 396px;
    top: 205px;
}

.oslo:hover {
    left: 391px;
    top: 200px;
}

.oslo:hover ~ #fakta1 > #oslo1 {
    opacity: 1;
}

.oslo:hover ~ #fakta2 > #oslo2 {
    opacity: 1;
}

#roma1 {
    position: absolute;
    opacity: 0;
}

#roma2 {
    position: absolute;
    opacity: 0;
}

.roma {
    left: 405px;
    top: 258px;
}

.roma:hover {
    left: 400px;
    top: 253px;
}

.roma:hover ~ #fakta1 > #roma1 {
    opacity: 1;
}

.roma:hover ~ #fakta2 > #roma2 {
    opacity: 1;
}

#johannesburg1 {
    opacity: 0;
    position: absolute;
}

#johannesburg2 {
    opacity: 0;
    position: absolute;
}

.johannesburg {
    left: 445px;
    top: 455px;
}

.johannesburg:hover {
    left: 440px;
    top: 450px;
}

.johannesburg:hover ~ #fakta1 > #johannesburg1 {
    opacity: 1;
}

.johannesburg:hover ~ #fakta2 > #johannesburg2 {
    opacity: 1;
}

.new_york_city {
    left: 180px;
    top: 260px;
}

#new_york_city1 {
    opacity: 0;
    position: absolute;
}

#new_york_city2 {
    opacity: 0;
    position: absolute;
}

.new_york_city:hover {
    left: 175px;
    top: 255px;
}

.new_york_city:hover ~ #fakta1 > #new_york_city1 {
    opacity: 1;
}

.new_york_city:hover ~ #fakta2 > #new_york_city2 {
    opacity: 1;
}

#moscow1 {
    opacity: 0;
    position: absolute;
}

#moscow2 {
    opacity: 0;
    position: absolute;
}

.moscow {
    left: 460px;
    top: 220px;
}

.moscow:hover {
    left: 455px;
    top: 215px;
}

.moscow:hover ~ #fakta1 > #moscow1 {
    opacity: 1;
}

.moscow:hover ~ #fakta2 > #moscow2 {
    opacity: 1;
}

#sydney1 {
    opacity: 0;
    position: absolute;
}

#sydney2 {
    opacity: 0;
    position: absolute;
}

.sydney {
    left: 765px;
    top: 470px;
}

.sydney:hover {
    left: 760px;
    top: 465px;
}

.sydney:hover ~ #fakta1 > #sydney1 {
    opacity: 1;
}

.sydney:hover ~ #fakta2 > #sydney2 {
    opacity: 1;
}


/*Brasília, hovedstad i brazil*/

#brasilia1 {
    opacity: 0;
    position: absolute;
}

#brasilia2 {
    opacity: 0;
    position: absolute;
}

.brasilia {
    left: 240px;
    top: 430px;
}

.brasilia:hover {
    left: 235px;
    top: 425px;
}

.brasilia:hover ~ #fakta1 > #brasilia1 {
    opacity: 1;
}

.brasilia:hover ~ #fakta2 > #brasilia2 {
    opacity: 1;
}

#shanghai1 {
    opacity: 0;
    position: absolute;
}

#shanghai2 {
    opacity: 0;
    position: absolute;
}

.shanghai {
    left: 685px;
    top: 283px;
}

.shanghai:hover {
    left: 680px;
    top: 278px;
}

.shanghai:hover ~ #fakta1 > #shanghai1 {
    opacity: 1;
}

.shanghai:hover ~ #fakta2 > #shanghai2 {
    opacity: 1;
}

#beijing1 {
    opacity: 0;
    position: absolute;
}

#beijing2 {
    opacity: 0;
    position: absolute;
}

.beijing {
    left: 670px;
    top: 255px;
}

.beijing:hover {
    left: 665px;
    top: 250px;
}

.beijing:hover ~ #fakta1 > #beijing1 {
    opacity: 1;
}

.beijing:hover ~ #fakta2 > #beijing2 {
    opacity: 1;
}

#tibet1 {
    opacity: 0;
    position: absolute;
}

#tibet2 {
    opacity: 0;
    position: absolute;
}

.tibet {
    left: 615px;
    top: 285px;
}

.tibet:hover {
    left: 610px;
    top: 280px;
}

.tibet:hover ~ #fakta1 > #tibet1 {
    opacity: 1;
}

.tibet:hover ~ #fakta2 > #tibet2 {
    opacity: 1;
}

#dalas1 {
    opacity: 0;
    position: absolute;
}

#dalas2 {
    opacity: 0;
    position: absolute;
}

.dalas {
    left: 120px;
    top: 280px;
}

.dalas:hover {
    left: 115px;
    top: 275px;
}

.dalas:hover ~ #fakta1 > #dalas1 {
    opacity: 1;
}

.dalas:hover ~ #fakta2 > #dalas2 {
    opacity: 1;
}

#niamey1 {
    opacity: 0;
    position: absolute;
}

#niamey2 {
    opacity: 0;
    position: absolute;
}

.niamey {
    left: 419px;
    top: 360px;
}

.niamey:hover {
    left: 414px;
    top: 355px;
}

.niamey:hover ~ #fakta1 > #niamey1 {
    opacity: 1;
}

.niamey:hover ~ #fakta2 > #niamey2 {
    opacity: 1;
}




