/*Settings generelt for siden start*/

* {
    margin: 0;
    padding: 0
}

a,
h1,
h2 {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #074B97;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}


/*Settings generelt for siden slutt*/


/*Navigator start*/

header {
    position: relative;
    overflow: hidden;
    background-color: #3A4047;
}

#logo {
    float: left;
    padding-left: 5%;
    line-height: 20%;
}

ul {
    list-style-type: none;
    padding-right: 5%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #b7ffff;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    line-height: 500%;
}

li a:hover {
    background-color: #111;
}


/*Navigator slutt*/


/*html, body start*/

html,
body {
    background-image: url(bilder/bg.jpg); /* https://pbs.twimg.com/media/Cw2GfpTUkAAPhzW.jpg */
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#menu {
    position: relative;
    margin: auto;
    top: 5%;
    width: 665px;
    height: 455px;
}

#menu:hover .circle {
    -webkit-animation-play-state: paused;
}


/*Sirkler i menyen på hjemsiden start*/

.circle {
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    font-size: 1.3em;
    color: #fff;
    line-height: 1000%;
    text-align: center;
    background: #3A4047;
    opacity: 0.97;
}

.circle1 {
    margin-left: 35%;
    -webkit-animation-name: circle1move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

.circle2 {
    margin-top: 2em;
    margin-left: 35%;
    -webkit-animation-name: circle2move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

.circle3 {
    margin-top: -16em;
    -webkit-animation-name: circle3move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}

.circle4 {
    margin-top: -10em;
    margin-left: 69%;
    -webkit-animation-name: circle4move;
    animation-timing-function: linear;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
}


/*Sirkler i menyen på hjemsiden stopp*/


/*Velkommen tekst og slogan på hjemsiden start*/

#hjemtekst {
    margin: auto;
    text-align: center;
    font-size: 6em;
    margin-top: 5%;
    animation: fyllhjemtekst 4s;
}

#hjemslogan {
    text-align: center;
    font-size: 1em;
    float: right;
    margin-top: 0.5%;
    padding-right: 15%;
    animation: fyllslogantekst 4s;

}

#hjemslogantekst {
    width: 1060px;
    margin: auto;
}

/*Velkommen tekst og slogan på hjemsiden slutt*/


/*Container med hovedinnhold på alle sider start*/

#container {
    width: 90%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 5%;
    border-radius: 2%;
    background-color: #3A4047;
    position: absolute;
}


/*Container med hovedinnhold på alle sider slutt*/

#sideinnhold {
    text-align: center;
    position: relative;
    margin: auto;
    padding: 1%;
}


/*html, body slutt*/


/*Footer start*/

footer {
    background-color: #3A4047;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

 p {
    position: relative;
    top: 10px;
}


/*Footer slutt*/


/*Animasjoner start*/

@keyframes circle1move {
    25% {
        -webkit-transform: translate(230px, 120px);
    }
    50% {
        -webkit-transform: translate(0px, 250px);
    }
    75% {
        -webkit-transform: translate(-230px, 120px);
    }
    100% {
        -webkit-transform: translate(0em, 0em);
    }
}

@keyframes circle2move {
    25% {
        -webkit-transform: translate(-230px, -120px);
    }
    50% {
        -webkit-transform: translate(0px, -250px);
    }
    75% {
        -webkit-transform: translate(230px, -120px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes circle3move {
    25% {
        -webkit-transform: translate(230px, -120px);
    }
    50% {
        -webkit-transform: translate(480px, 0px);
    }
    75% {
        -webkit-transform: translate(230px, 120px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@keyframes circle4move {
    25% {
        -webkit-transform: translate(-230px, 120px);
    }
    50% {
        -webkit-transform: translate(-480px, 0px);
    }
    75% {
        -webkit-transform: translate(-230px, -120px);
    }
    100% {
        -webkit-transform: translate(0em, 0em);
    }
}

@keyframes fyllhjemtekst {
    0% {
        -webkit-transform: translate(-160%);
    }
    100% {
        -webkit-transform: translate(0%);
    }
}

@keyframes fyllslogantekst {
    0% {
        -webkit-transform: translate(260%);
    }
    100% {
        -webkit-transform: translate(0%);
    }
}


/*Animasjoner slutt*/


/*company-css-tommy*/

#company {
    position: relative;
    height: 600px;
    width: 80%;
    opacity: 0, 5;
    margin: auto;
    overflow: hidden;
}

.companyAni {
    position: absolute;
    top: 50%;
    left: -300px;
}

#employee {
    animation: moveAni 30s linear infinite;
}

#employee1 {
    animation: moveAni 30s linear infinite;
    animation-delay: 5s;
}

#employee2 {
    animation: moveAni 30s linear infinite;
    animation-delay: 10s;
}

#employee3 {
    animation: moveAni 30s linear infinite;
    animation-delay: 15s;
}

#employee4 {
    animation: moveAni 30s linear infinite;
    animation-delay: 20s;
}

#employee5 {
    animation: moveAni 30s linear infinite;
    animation-delay: 25s;
}

#pics {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

@keyframes moveAni {
    from {
        left: -300px;
    }
    to {
        left: 2100px;
    }
}

#company:hover .companyAni {
    animation-play-state: paused;
}

.chat {
    position: relative;
    top: 70px;
    height: 150px;
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 30%;
    display: none;
    padding-top: 10px;
}

#employee:hover~#textBox {
    display: block;
}

#employee1:hover~#textBox1 {
    display: block;
}

#employee2:hover~#textBox2 {
    display: block;
}

#employee3:hover~#textBox3 {
    display: block;
}

#employee4:hover~#textBox4 {
    display: block;
}

#employee5:hover~#textBox5 {
    display: block;
}


/*Markus - Contact*/

#kartContainer {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

#fakta1 {
    width: 45%;
    height: 115px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 5%;
}

#fakta1 p {
    position: relative;
    text-align: left;
}

#fakta2 {
    width: 45%;
    height: 115px;
    right: 0px;
    background-color: blue;
    border-radius: 20px;
    position: absolute;
    top: 5%;
}

#fakta2 p {
    position: relative;
    text-align: left;
}

#kart_boks {
    width: 900px;
    position: relative;
    margin: auto;
    height: 600px;
}

#kart {
    position: relative;
    width: 900px;
    height: 400px;
    top: 150px;
}

/*En klasse for å gjøre design av prikker på kartet felles. Alle blir røde, alle har lengde og bredde 10px og en border-radius på 10px for å gjøre de runde*/
.map_dot {
    background-color: #a60808;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
}

/*Felles hover for alle i map_dot klassen. Når peker er på prikk så vil den bli større, 25x25px*/
.map_dot:hover {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

/*map_dot2 klasse for å lage gul prikk*/
.map_dot2 {
    background-color: yellow;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
}

/*Hover effekt på alle prikker i klassen map_dot2*/
.map_dot2:hover {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

/*Alle .by:hover{} nedover er laget for at prikken ikke skal bli helt feil plassert når man hovrer. Den blir flyttet 5 piksler til venstre og oppover for at det ikke skal uferdig/choppy ut. Det vil også bli mye lettere å holde musepeker over sirkel*/

#oslo1 {
    opacity: 0;
    position: absolute;
}

#oslo2 {
    opacity: 0;
    position: absolute;
}

.oslo {
    left: 396px;
    top: 205px;
}

.oslo:hover {
    left: 391px;
    top: 200px;
}

.oslo:hover~#fakta1>#oslo1 {
    opacity: 1;
}

.oslo:hover~#fakta2>#oslo2 {
    opacity: 1;
}

#roma1 {
    position: absolute;
    opacity: 0;
}

#roma2 {
    position: absolute;
    opacity: 0;
}

.roma {
    left: 405px;
    top: 258px;
}

.roma:hover {
    left: 400px;
    top: 253px;
}

.roma:hover~#fakta1>#roma1 {
    opacity: 1;
}

.roma:hover~#fakta2>#roma2 {
    opacity: 1;
}

#johannesburg1 {
    opacity: 0;
    position: absolute;
}

#johannesburg2 {
    opacity: 0;
    position: absolute;
}

.johannesburg {
    left: 445px;
    top: 455px;
}

.johannesburg:hover {
    left: 440px;
    top: 450px;
}

.johannesburg:hover~#fakta1>#johannesburg1 {
    opacity: 1;
}

.johannesburg:hover~#fakta2>#johannesburg2 {
    opacity: 1;
}

.new_york_city {
    left: 180px;
    top: 260px;
}

#new_york_city1 {
    opacity: 0;
    position: absolute;
}

#new_york_city2 {
    opacity: 0;
    position: absolute;
}

.new_york_city:hover {
    left: 175px;
    top: 255px;
}

.new_york_city:hover~#fakta1>#new_york_city1 {
    opacity: 1;
}

.new_york_city:hover~#fakta2>#new_york_city2 {
    opacity: 1;
}

#moscow1 {
    opacity: 0;
    position: absolute;
}

#moscow2 {
    opacity: 0;
    position: absolute;
}

.moscow {
    left: 460px;
    top: 220px;
}

.moscow:hover {
    left: 455px;
    top: 215px;
}

.moscow:hover~#fakta1>#moscow1 {
    opacity: 1;
}

.moscow:hover~#fakta2>#moscow2 {
    opacity: 1;
}

#sydney1 {
    opacity: 0;
    position: absolute;
}

#sydney2 {
    opacity: 0;
    position: absolute;
}

.sydney {
    left: 765px;
    top: 470px;
}

.sydney:hover {
    left: 760px;
    top: 465px;
}

.sydney:hover~#fakta1>#sydney1 {
    opacity: 1;
}

.sydney:hover~#fakta2>#sydney2 {
    opacity: 1;
}


/*Brasília, hovedstad i brazil*/

#brasilia1 {
    opacity: 0;
    position: absolute;
}

#brasilia2 {
    opacity: 0;
    position: absolute;
}

.brasilia {
    left: 240px;
    top: 430px;
}

.brasilia:hover {
    left: 235px;
    top: 425px;
}

.brasilia:hover~#fakta1>#brasilia1 {
    opacity: 1;
}

.brasilia:hover~#fakta2>#brasilia2 {
    opacity: 1;
}

#shanghai1 {
    opacity: 0;
    position: absolute;
}

#shanghai2 {
    opacity: 0;
    position: absolute;
}

.shanghai {
    left: 685px;
    top: 283px;
}

.shanghai:hover {
    left: 680px;
    top: 278px;
}

.shanghai:hover~#fakta1>#shanghai1 {
    opacity: 1;
}

.shanghai:hover~#fakta2>#shanghai2 {
    opacity: 1;
}

#beijing1 {
    opacity: 0;
    position: absolute;
}

#beijing2 {
    opacity: 0;
    position: absolute;
}

.beijing {
    left: 670px;
    top: 255px;
}

.beijing:hover {
    left: 665px;
    top: 250px;
}

.beijing:hover~#fakta1>#beijing1 {
    opacity: 1;
}

.beijing:hover~#fakta2>#beijing2 {
    opacity: 1;
}

#tibet1 {
    opacity: 0;
    position: absolute;
}

#tibet2 {
    opacity: 0;
    position: absolute;
}

.tibet {
    left: 615px;
    top: 285px;
}

.tibet:hover {
    left: 610px;
    top: 280px;
}

.tibet:hover~#fakta1>#tibet1 {
    opacity: 1;
}

.tibet:hover~#fakta2>#tibet2 {
    opacity: 1;
}

#dalas1 {
    opacity: 0;
    position: absolute;
}

#dalas2 {
    opacity: 0;
    position: absolute;
}

.dalas {
    left: 120px;
    top: 280px;
}

.dalas:hover {
    left: 115px;
    top: 275px;
}

.dalas:hover~#fakta1>#dalas1 {
    opacity: 1;
}

.dalas:hover~#fakta2>#dalas2 {
    opacity: 1;
}

#niamey1 {
    opacity: 0;
    position: absolute;
}

#niamey2 {
    opacity: 0;
    position: absolute;
}

.niamey {
    left: 419px;
    top: 360px;
}

.niamey:hover {
    left: 414px;
    top: 355px;
}

.niamey:hover~#fakta1>#niamey1 {
    opacity: 1;
}

.niamey:hover~#fakta2>#niamey2 {
    opacity: 1;
}

/* Christian sin css*/



#CTcontainer{

    position: absolute;
    display: block;
    height: 600px;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
    background: rgba(255, 0, 0, 0);
    overflow: hidden;
    border-radius: 50px;


}

#CTbar{

    position: absolute;
    display: inline-block;
    height: 100%;
    width: 10px;
    background-color: darkgray;
    left: 48.5%;


}

.CTsmallbar{
    position: absolute;
    display: inline-block;
    height: 1%;
    width: 4%;
    background-color: black;
    border-radius: 30px;
    opacity: 0;
}

.CTyearbubble{

    position: absolute;
    display: inline-block;
    height: 8%;
    width: 5%;
    background-color: lightcoral;
    border: 5px solid white;
    border-radius: 100%;

}

.CTtextbubble{
    position: absolute;
    display: inline-block;
    height: 15%;
    width: 0;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    background-color: lightgray;

}

#CTsmallbar1{
    top: 7%;
    left: 54%;
    animation-name: FadeIn;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}



#CTsmallbar2{
    top: 23%;
    left: 40%;
    animation-name: FadeIn;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#CTsmallbar3{
    top: 39%;
    left: 54%;
    animation-name: FadeIn;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#CTsmallbar4{
    top: 55%;
    left: 40%;
    animation-name: FadeIn;
    animation-delay: 7s;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#CTsmallbar5{
    top: 71%;
    left: 54%;
    animation-name: FadeIn;
    animation-delay: 9s;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


#CTyearbubble1{

    left: -10%;
    top: 3%;
    animation-name: enterfromleft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#CTyearbubble2{

    right: -10%;
    top: 19%;
    animation-name: enterfromright;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

#CTyearbubble3{

    right: -10%;
    top: 35%;
    animation-name: enterfromleft;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

#CTyearbubble4{

    right: -10%;
    top: 51%;
    animation-name: enterfromright;
    animation-duration: 1s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}

#CTyearbubble5{

    right: -10%;
    top: 67%;
    animation-name: enterfromleft;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}







@keyframes enterfromleft{
    0%{
        left: -10%;
    }
    100%{
        left: 46%;

    }
}

@keyframes enterfromright{

    0%{
        left: 110%;
    }
    100%{
        left: 46%;
    }

}




#CTtextbubble1{

    left: 60%;
    top: 0.5%;
    animation-name: fall;
    animation-duration: 0.5s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

}

#CTtextbubble2{

    left: 3%;
    top: 16%;
    animation-name: fall;
    animation-duration: 0.5s;
    animation-delay: 3.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#CTtextbubble3{

    left: 60%;
    top: 32%;
    animation-name: fall;
    animation-duration: 0.5s;
    animation-delay: 5.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#CTtextbubble4{

    left: 3%;
    top: 48%;
    animation-name: fall;
    animation-duration: 0.5s;
    animation-delay: 7.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

#CTtextbubble5{

    left: 60%;
    top: 64%;
    animation-name: fall;
    animation-duration: 0.5s;
    animation-delay: 9.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}





.CTp{
    position: relative;
    display: inline-block;
    padding: 5px;
    text-align: center;
    font-family:'lato', sans-serif;
    font-size: 15px;
}

.CTyearP{

    font-family: cursive;
    margin-left: 13%;
}

@keyframes fall{
    100%{
        width: 35%;
        border: 3px solid black;
    }

}


@keyframes FadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Christian sin css slutt*/
